@{
    ViewData["Title"] = "Cadastro de Usuário";
}

<div class="d-flex justify-content-end">
    <button onclick="Edit()" type="button" class="btn btn-primary me-2">Adicionar</button>
</div>

<div id="wrapper"></div>
<div id="wrapper-edit"></div>

<script src="~/js/SystemUser/Index.js" asp-append-version="true"></script>