@{
    ViewData["Title"] = "Cadastro de usuario";
}

<div class="d-flex justify-content-end">
    <button onclick="Edit()" type="button" class="btn btn-primary">Adicionar</button>
</div>

<table id="table" class="display">
    <thead>
        <tr>
            <th class="text-left" scope="col">Nome</th>
            <th class="text-left" scope="col">Sobrenome</th>
            <th class="text-left" scope="col">Nome do usuario</th>
            <th class="text-left" scope="col">Funcao empresarial</th>
            <th scope="col">Acoes</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div id="wrapper-edit"></div>
<div id="wrapper-alert"></div>

<script src="~/js/SystemUser/Index.js" asp-append-version="true"></script>