html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.table-overflow-client {
    max-height: 500px;
    overflow-y: auto;
}

.table-overflow-systemUser {
    max-height: 500px;
    overflow-y: auto;
}

table {
    overflow: auto;
    height: 100px;
}

table thead{
    background-color: #FFFFFF;
    position: sticky;
    top: 0;
    z-index: 1;
}

.iconButton {
    border: none;
    background-color: transparent;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

input {
    margin-bottom: 10px;
}

.btn {
    height: 40px;
}

.btn-primary {
    background-color: #3D383D;
    border-color: #3D383D;
}

.btn-primary:hover {
    background-color: #FFFFFF;
    color: #3D383D;
    border-color: #3D383D;
}

.btn-secondary {
    background-color: #EFE7DC;
    border-color: #EFE7DC;
}

.btn-secondary:hover {
    background-color: #FFFFFF;
    color: #EFE7DC;
    border-color: #EFE7DC;
}

textarea:focus, input:focus{
    outline: none;
    box-shadow: none !important;
    border: 1px solid #ccc !important;
}

.btn-primary:active, .btn-primary:focus {
    outline: none;
    box-shadow: none !important;
    background-color: #3D383D;
    border-color: #3D383D;
    color: #FFFFFF;
}

.btn-secondary:active, .btn-secondary:focus {
    outline: none;
    box-shadow: none !important;
    background-color: #EFE7DC;
    border-color: #EFE7DC;
    color: #FFFFFF;
}

.attendant {
    height: 550px;
    max-height: 550px;
}

.head {
    margin: 10px 3px 0px 3px;
    color: #212529;
    font-weight: bold;
}

.client {
    color: #212529;
    font-weight: bold;
}

.card {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px;
}

.card-list {
    overflow-y: auto;
    max-height: 530px;
}

.title{
    margin-top: 5px;
}

.description {
    font-size: 12px;
}