<div id="editModal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cliente</h5>
            </div>
            <div class="modal-body">
                <form id="clientFormId">
                    <input id="clientId" name="client.id" hidden />
                    <div class="row">
                        <div class="col-3">
                            <div class="form-check" style="margin-top: 5px;">
                                <input class="form-check-input" type="radio" name="type" id="cpfId" onchange="ChangePeople(true)" checked>
                                <label class="form-check-label" for="cpfId">
                                    Pessoa física
                                </label>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-check" style="margin-top: 5px;">
                                <input class="form-check-input" type="radio" name="type" onchange="ChangePeople(false)" id="cnpjId">
                                <label class="form-check-label" for="cnpjId">
                                    Pessoa juridica
                                </label>
                            </div>
                        </div>
                        <div class="col-6">
                            <input class="form-control" id="clientInfoId" placeholder="CPF/CNPJ">
                        </div>
                        <div class="col-12">
                            <input class="form-control" id="nameId" name="client.name" placeholder="Nome">
                        </div>
                        <div class="col-6">
                            <input class="form-control" id="phoneNumberId" name="client.phoneNumber" placeholder="Telefone">
                        </div>
                        <div class="col-6">
                            <input class="form-control" id="mailId" name="client.mail" placeholder="Email">
                        </div>
                        <div class="col-6">
                            <input class="form-control" id="zipCodeId" name="client.zipCode" placeholder="CEP">
                        </div>
                        <div class="col-6">
                            <input class="form-control" id="addressId" name="client.address" placeholder="Endereço">
                        </div>
                        <div class="col-6">
                            <input class="form-control" id="cityId" name="client.city" placeholder="Cidade">
                        </div>
                        <div class="col-6">
                            <input class="form-control" id="stateId" name="client.state" placeholder="Estado">
                        </div>
                        <div class="col-12 d-flex justify-content-end">
                            <div class="form-check" style="margin-top: 8px;">
                                <input class="form-check-input" type="checkbox" value="true" name="client.isEnabled" id="isEnabledId" checked>
                                <label class="form-check-label" for="isEnabledId">
                                    Ativo
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button onclick="Close()" type="button" class="btn btn-primary">Fechar</button>
                <button onclick="Save()" type="button" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Client/Edit.js" asp-append-version="true"></script>