@{
    ViewData["Title"] = "Cadastro de Cliente";
}

<div class="d-flex justify-content-end">
    <button onclick="Edit()" type="button" class="btn btn-primary me-2">Adicionar</button>
</div>

<table id="table" class="display">
    <thead>
        <tr>
            <th class="text-left" scope="col">CPF/CNPJ</th>
            <th class="text-left" scope="col">Nome</th>
            <th class="text-left" scope="col">Telefone</th>
            <th class="text-left" scope="col">E-mail</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div id="wrapper-edit"></div>
<div id="wrapper-alert"></div>

<script src="~/js/Client/Index.js" asp-append-version="true"></script>