<div class="table-overflow-client mt-4 shadow ps-3 pb-3 pe-3 bg-body rounded w-100" style="background-color: #FFFFFF !important;">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">CPF/CNPJ</th>
                <th scope="col">Nome</th>
                <th scope="col">Telefone</th>
                <th scope="col">E-mail</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>888.888.888-88</td>
                <td>Petters</td>
                <td>(47)99999-9999</td>
                <td>Luana.Petters@gmail.com</td>
                <td>
                    <button class="iconButton"><i class="glyphicon glyphicon-edit"></i></button>
                    <button class="iconButton"><i class="glyphicon glyphicon-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td>888.888.888-88</td>
                <td>Petters</td>
                <td>(47)99999-9999</td>
                <td>Luana.Petters@gmail.com</td>
                <td>
                    <button class="iconButton"><i class="glyphicon glyphicon-edit"></i></button>
                    <button class="iconButton"><i class="glyphicon glyphicon-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td>888.888.888-88</td>
                <td>Petters</td>
                <td>(47)99999-9999</td>
                <td>Luana.Petters@gmail.com</td>
                <td>
                    <button class="iconButton"><i class="glyphicon glyphicon-edit"></i></button>
                    <button class="iconButton"><i class="glyphicon glyphicon-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td>888.888.888-88</td>
                <td>Petters</td>
                <td>(47)99999-9999</td>
                <td>Luana.Petters@gmail.com</td>
                <td>
                    <button class="iconButton"><i class="glyphicon glyphicon-edit"></i></button>
                    <button class="iconButton"><i class="glyphicon glyphicon-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td>888.888.888-88</td>
                <td>Petters</td>
                <td>(47)99999-9999</td>
                <td>Luana.Petters@gmail.com</td>
                <td>
                    <button class="iconButton"><i class="glyphicon glyphicon-edit"></i></button>
                    <button class="iconButton"><i class="glyphicon glyphicon-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td>888.888.888-88</td>
                <td>Petters</td>
                <td>(47)99999-9999</td>
                <td>Luana.Petters@gmail.com</td>
                <td>
                    <button class="iconButton"><i class="glyphicon glyphicon-edit"></i></button>
                    <button class="iconButton"><i class="glyphicon glyphicon-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td>888.888.888-88</td>
                <td>Petters</td>
                <td>(47)99999-9999</td>
                <td>Luana.Petters@gmail.com</td>
                <td>
                    <button class="iconButton"><i class="glyphicon glyphicon-edit"></i></button>
                    <button class="iconButton"><i class="glyphicon glyphicon-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td>888.888.888-88</td>
                <td>Petters</td>
                <td>(47)99999-9999</td>
                <td>Luana.Petters@gmail.com</td>
                <td>
                    <button class="iconButton"><i class="glyphicon glyphicon-edit"></i></button>
                    <button class="iconButton"><i class="glyphicon glyphicon-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td>888.888.888-88</td>
                <td>Petters</td>
                <td>(47)99999-9999</td>
                <td>Luana.Petters@gmail.com</td>
                <td>
                    <button class="iconButton"><i class="glyphicon glyphicon-edit"></i></button>
                    <button class="iconButton"><i class="glyphicon glyphicon-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td>888.888.888-88</td>
                <td>Petters</td>
                <td>(47)99999-9999</td>
                <td>Luana.Petters@gmail.com</td>
                <td>
                    <button class="iconButton"><i class="glyphicon glyphicon-edit"></i></button>
                    <button class="iconButton"><i class="glyphicon glyphicon-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td>888.888.888-88</td>
                <td>Petters</td>
                <td>(47)99999-9999</td>
                <td>Luana.Petters@gmail.com</td>
                <td>
                    <button class="iconButton"><i class="glyphicon glyphicon-edit"></i></button>
                    <button class="iconButton"><i class="glyphicon glyphicon-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td>888.888.888-88</td>
                <td>Petters</td>
                <td>(47)99999-9999</td>
                <td>Luana.Petters@gmail.com</td>
                <td>
                    <button class="iconButton"><i class="glyphicon glyphicon-edit"></i></button>
                    <button class="iconButton"><i class="glyphicon glyphicon-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td>888.888.888-88</td>
                <td>Petters</td>
                <td>(47)99999-9999</td>
                <td>Luana.Petters@gmail.com</td>
                <td>
                    <button class="iconButton"><i class="glyphicon glyphicon-edit"></i></button>
                    <button class="iconButton"><i class="glyphicon glyphicon-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td>888.888.888-88</td>
                <td>Petters</td>
                <td>(47)99999-9999</td>
                <td>Luana.Petters@gmail.com</td>
                <td>
                    <button class="iconButton"><i class="glyphicon glyphicon-edit"></i></button>
                    <button class="iconButton"><i class="glyphicon glyphicon-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td>888.888.888-88</td>
                <td>Petters</td>
                <td>(47)99999-9999</td>
                <td>Luana.Petters@gmail.com</td>
                <td>
                    <button class="iconButton"><i class="glyphicon glyphicon-edit"></i></button>
                    <button class="iconButton"><i class="glyphicon glyphicon-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td>888.888.888-88</td>
                <td>Petters</td>
                <td>(47)99999-9999</td>
                <td>Luana.Petters@gmail.com</td>
                <td>
                    <button class="iconButton"><i class="glyphicon glyphicon-edit"></i></button>
                    <button class="iconButton"><i class="glyphicon glyphicon-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td>888.888.888-88</td>
                <td>Petters</td>
                <td>(47)99999-9999</td>
                <td>Luana.Petters@gmail.com</td>
                <td>
                    <button class="iconButton"><i class="glyphicon glyphicon-edit"></i></button>
                    <button class="iconButton"><i class="glyphicon glyphicon-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td>888.888.888-88</td>
                <td>Petters</td>
                <td>(47)99999-9999</td>
                <td>Luana.Petters@gmail.com</td>
                <td>
                    <button class="iconButton"><i class="glyphicon glyphicon-edit"></i></button>
                    <button class="iconButton"><i class="glyphicon glyphicon-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>