<div class="card">
    <div class="d-flex justify-content-between">
        <div>
            <font title="Número">1698757</font>
            <font title="Cliente">- Millium</font>
        </div>
        <div>
            <font title="Prioridade">Alta</font>
            <font title="Data de criação">- 15/11/2024</font>
        </div>
    </div>
    <font title="Título" class="title">Mudança de patrimonio do gestor principal projeto</font>
    <font title="Descrição" class="description">O obejtivo da demanda é negociar com o gestor principal do projeto
        a real necessidade do salario que possui para ser feita a alteração.
    </font>
</div>