@model AttendancePanelCardModel;

<div class="card item" draggable="true">
    <div class="d-flex justify-content-between">
        <input hidden value="status"/>
        <div>
            <font class="sequencialId" title="Número">1698757</font>
            <font class="client" title="Cliente">- Millium</font>
        </div>
        <div>
            <font class="priority" title="Prioridade">Alta</font>
            <font class="dateCreated" title="Data de criação">- 15/11/2024</font>
        </div>
    </div>
    <font title="Título">Mudança de patrimonio do gestor principal projeto</font>
    <font title="Descrição" class="description">O obejtivo da demanda é negociar com o gestor principal do projeto
        a real necessidade do salario que possui para ser feita a alteração.
    </font>
</div>