@model NotePanelModel;

<div id="noteModal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Notas</h5>
            </div>
            <div class="modal-body">
                <input id="ticketId" value="@Model.Id" hidden />
                <div class="d-flex justify-content-end">
                    <button onclick="NoteEdit()" type="button" class="btn btn-primary">Adicionar</button>
                </div>
                <div id="wrapper-noteList"></div>
                <div id="wrapper-noteEdit"></div>
            </div>
            <div class="modal-footer">
                <button onclick="CloseNote()" type="button" class="btn btn-primary">Fechar</button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/AttendancePanel/Note.js" asp-append-version="true"></script>
